/**
Title: Brady-number-game.css
Author: Erin Brady
Date: 11/13/2022
Description: Styling for the Number Guessing Game component
*/

/* General styles */
body {
    text-align: center;
    font-size: 28px;
    font-family: 'Oswald', 'Verdana', 'Arial', sans-serif;
    width: 90%;
    margin: 0 auto;
}

#container {
    margin: 50px 100px 0;
}

/* Card styles */
.card {
    padding: 0 20px;
    margin-top: 60px;
}

#guess-number-card {
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

/* Submit Button styles */
#btnSubmit {
    background-color: #453674;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
}

/* Return Home link */
.return-home {
    text-align: left;
    float: left;
    margin: 20px 0 80px;
}
